.percentile label, .rank label, .state label, .gender label, .pwd label, .ews label, .category label, .sortby label {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 5px;
}

.percentile{
  margin-left: -2rem;
}


input, select{
  width: 10rem;
  background-color: rgb(55, 53, 53);
}

input::placeholder{
  color: aliceblue;
}

.radio-container {
  background: rgb(71, 67, 67);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  /* margin-left: 9rem; */
  padding: 5px;
}

.center{
  margin-left: 9rem;
}

.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: .3s all ease-in-out;
  width: 80px;
  cursor : pointer;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container input[type="radio"]:checked+label {
  background: #e21b09;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

h3 {
  font-size: 16px;
  color: black;
  align-self: center;
}

.made_with {
  font-size: 1.5em;
  text-align: center;
  color: white;
  padding: 1px 0 1px 1px;
}

.buttons
{
    margin: 2rem 1rem ;
    display: flex;
    justify-content: center;
}

input[type=submit], input[type=reset]{
    border: 0.1px solid white ;
    border-radius: 15%;
    background-color: rgba(15, 84, 233, 0.986);
    color:white;
    height: 2rem;
    width:6rem;
    text-decoration: none;
    border-radius: 25px;
    padding: 1t0px;
}